node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allureports/
/allure-results/
/allure-report/
/partialScreenshot.png
/paysetLoginPage.png
/paysetParialScreenshot.png
/screenshot.png
/state.json